@font-face {
  font-family: "Inter-Light";
  src: url("../fonts/Inter/static/Inter-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Inter-Thing";
  src: url("../fonts/Inter/static/Inter-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Monserat";
  src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype");
}

html {
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
